@media screen and (min-width: 768px) {
/* Set the width of each column */
  .col {
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 768px) {
  /* Set the width of each column */
  .col {
    width: 33.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
}

/* Add some style to the columns */
.col1 {
  background-color: #f2f2f2;
  border-right: 1px solid #ccc;
}

.col2 {
  background-color: #e6e6e6;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.col2_1 {
  width: 33%;
  float : left;
}

.col3 {
  background-color: #f2f2f2;
  border-left: 1px solid #ccc;
}

.col3_1 {
  width: 50%;
  float : left;
  /* border-right: 1px solid rgb(0, 0, 0); */
}

/* Add some style to the content inside the columns */
.content {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
}

/* Clear the floats after the columns */
.row:after {
  content: "";
  display: flex;
  clear: both;
}

.loader-wrapper {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
}

.loader-wrapper .loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link { color: #FF385C; text-decoration: none;}
a:visited { color: #FF385C; text-decoration: none;}
a:hover { color:#FF385C; text-decoration: none;}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
