/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
  .col_sj{
    width: 10%;
    float : left;
    height : 200px;
  }

  .col_gd {
    width: 10%;
    float : left;
  }

  .col_sp{
    width: 10%;
    float : left;
    height : 200px;
  }
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (max-width:1023px) {
  h1 {
    text-align: center;
  }
  .col_sj{
    width: 33%;
    float : left;
    height : 275px;
  }
  .col_gd {
    width: 33%;
    float : left;
  }
  .col_sp{
    width: 33%;
    float : left;
    height : 200px;
  }
}

.court:not(#selectedCourt) {
  display:none;
}

.col2 {
  width: 50%;
  float : left;
}

.col3 {
  width: 33%;
  float : left;
  /* border-right: 1px solid rgb(0, 0, 0); */
}

.col4 {
  width: 25%;
  float : left;
  /* border-right: 1px solid rgb(0, 0, 0); */
}

.col5 {
  width: 20%;
  float : left;
  /* border-right: 1px solid rgb(0, 0, 0); */
}

/* Add some style to the content inside the columns */
.content {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .375rem;
}

/* Clear the floats after the columns */
.row:after {
  content: "";
  display: flex;
  clear: both;
}

.loader-wrapper {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.8;
}

.loader-wrapper .loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link { color: inherit; text-decoration: none;}
a:visited {  color: inherit;  text-decoration: none;}
a:hover {  color: inherit;  text-decoration: none;}

h1 {
  font-size :40px;
  color: #FF385C;
}
h2 {
  text-align: center;
  margin : 10px;
}

h3 {
  text-align: center;
  margin :5px;
}

.sjresult{
  height : 280px;
}

.spresult{
  height : 280px;
}


li{
  list-style-type: none;
  text-align:center;
}

img {
  width: 40px;
  color: #FF385C;
}